@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Light Mode */
:root {
  --background: #ffffff; /* White background */
  --foreground:rgb(43, 40, 40); /* Black text */
}

/* Dark Mode */
.dark {
  --background: rgb(43, 40, 40); /* Dark background */
  --foreground: #ffffff; /* White text */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}